html {
  height: 100%;
  width: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 960px;
  margin: 10px auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  scroll-behavior: auto; }

hr {
  width: 100%;
  height: auto; }

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#head2 {
  background-color: #777777;
  width: 26%;
  height: 108px; }

#head3 {
  background-color: #777777;
  right: 0;
  width: 52%;
  height: 108px;
  text-align: right; }
  #head3 span {
    text-decoration: underline; }

main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.aside {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .aside #aside1 {
    width: 184px;
    height: 390px;
    background-color: #777777; }
    .aside #aside1 li {
      list-style-type: none; }
  .aside img {
    margin-top: auto; }

.content {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#content1 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-color: #dcdcdc; }

#content2 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0 0 0; }
  #content2 img {
    margin-left: 19px;
    margin-bottom: 10px;
    width: 18%; }
  #content2 :nth-child(5n+1) {
    margin-left: 0; }

#content3 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

#content3_1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #dcdcdc;
  margin-right: 15px;
  padding: 20px; }

#content3_2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #dcdcdc;
  margin-left: 15px;
  padding: 20px; }

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer #footer1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
    background-color: #777777; }
    footer #footer1 ul {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      list-style-type: none; }
  footer #footer2 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
    background-color: #777777; }
    footer #footer2 ul {
      list-style-type: square; }
  footer #footer3 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer #footer3 #footer3_1 {
      background-color: #777777;
      height: 45%; }
