html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 960px;
  margin: 10px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
scroll-behavior: auto;
}

hr {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#head2 {
  background-color: #777777;
  width: 26%;
  height: 108px;
}

#head3 {
  background-color: #777777;
  right: 0;
  width: 52%;
  height: 108px;
  text-align: right;

  span {
    text-decoration: underline;
  }
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.aside {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #aside1 {
    width: 184px;
    height: 390px;
    background-color: #777777;

    li {
      list-style-type: none;
    }
  }

  img {
    margin-top: auto;
  }
}

.content {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //vertical-align: center;
  justify-content: space-between;
}

#content1 {
  flex: 2;
  background-color: #dcdcdc;
}

#content2 {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0 0 0;

  img {
    margin-left: 19px;
    margin-bottom: 10px;
    width: 18%;
  }

  :nth-child(5n+1) {
    margin-left: 0;
  }
}

#content3 {
  flex: 2;
  display: flex;
  flex-direction: row;
}

#content3_1 {
  flex: 1;
  background-color: #dcdcdc;
  margin-right: 15px;
  padding: 20px;
}

#content3_2 {
  flex: 1;
  background-color: #dcdcdc;
  margin-left: 15px;
  padding: 20px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-bottom: 10px;


  #footer1 {
    flex: 1;
    margin-right: 10px;
    background-color: #777777;

    ul {
      column-count: 2;
      list-style-type: none;
    }
  }

  #footer2 {
    flex: 1;
    margin-right: 10px;
    background-color: #777777;

    ul {
      list-style-type: square;
    }
  }

  #footer3 {
    flex: 1;
    //margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #footer3_1 {
      background-color: #777777;
      height: 45%;
    }
  }
}
